# Ignore R user stuff
.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata

# Ignore raw data folder
data-raw/

# Ignore Rmarkdown caches
notebooks/*_cache

# Ignore scratch files
scratch.*

# Ignore shinyio app call script
app.R
