# Ignore R user stuff
.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata

# Ignore raw data folder except for mastergram
data-raw/*
!data-raw/mastergram.Rmd

# Ignore Rmarkdown caches and rendered html
notebooks/*_cache
notebooks/*.nb.html

# Ignore scratch files
scratch.*

# Ignore shinyio app call script stuff
app.R
rsconnect
